{% extends 'base.html.twig' %}

{% block title %}Familia | {% endblock %}

{% block body %}
<section class="organigramme">
    <div class="organigramme__br">
        <div class="organigramme__br--inside">
            
            <div class="organigramme__card">
                <div class="organigramme__card-inner">
                <div class="organigramme__card-front ">
                    <img src="{{ asset('img/VP-F.png') }}" alt="Vice présidente" class="respo">
                        <span class="organigramme__role">Vice presidente</span>
                </div>
                <div class="organigramme__card-back">
                    <img src="{{ asset('img/ambre.jpg') }}" alt="ambre" class="organigramme__pp">
                    <span class="organigramme__name">Ambre Guibal</span>
                </div>
                </div>
            </div>
            
        
                <div class="organigramme__card">
                    <div class="organigramme__card-inner">
                    <div class="organigramme__card-front">
                        <img src="{{ asset('img/tresorier.png') }}" alt="Trésorier" class="respo">
                        <span class="organigramme__role">Tresorier</span>
                    </div>
                    <div class="organigramme__card-back">
                        <img src="{{ asset('img/yann.jpg') }}" alt="yann" class="organigramme__pp">
                        <span class="organigramme__name">Yann Becker</span>
                    </div>
                    </div>
                </div>
           
            <div class="organigramme__br--anounce range">
            <h3 class="organigramme__br--title--ordi" data-aos="fade-down"  data-aos-duration="1000">Le BR</h3>
                <div class="organigramme__card">
                    <div class="organigramme__card-inner">
                    <div class="organigramme__card-front">
                        <img src="{{ asset('img/président.png') }}" alt="Président" class="respo">
                        <span class="organigramme__role">President</span>
                    </div>
                    <div class="organigramme__card-back">
                        <img src="{{ asset('img/jah.jpg') }}" alt="jah" class="organigramme__pp">
                        <span class="organigramme__name">Tom Amalberti</span>
                    </div>
                    </div>
                </div>
            
            </div>
            
           
                <div class="organigramme__card">
                    <div class="organigramme__card-inner">
                    <div class="organigramme__card-front">
                        <img src="{{ asset('img/secretaire.png') }}" alt="Secrétaire" class="respo">
                        <span class="organigramme__role">Secretaire</span>
                    </div>
                    <div class="organigramme__card-back">
                        <img src="{{ asset('img/emilie.jpg') }}" alt="emilie" class="organigramme__pp">
                        <span class="organigramme__name">Emilie Morin</span>
                    </div>
                    </div>
                </div>
                
         
            <div class="organigramme__card">
                <div class="organigramme__card-inner">
                <div class="organigramme__card-front">
                    <img src="{{ asset('img/VP-H.png') }}" alt="Vice président" class="respo">
                    <span class="organigramme__role">Vice president</span>
                </div>
                <div class="organigramme__card-back">
                    <img src="{{ asset('img/jeremy.jpg') }}" alt="jeremy" class="organigramme__pp">
                    <span class="organigramme__name">Jeremy Seban</span>
                </div>
                </div>
            </div>
            
        </div>
        <div class="organigramme__br--outside">
                <div class="organigramme__card">
                    <div class="organigramme__card-inner">
                    <div class="organigramme__card-front">
                        <img src="{{ asset('img/tresorier.png') }}" alt="Vice trésorier">
                        <span class="organigramme__role">Vice trésorier</span>
                    </div>
                    <div class="organigramme__card-back">
                        <img src="{{ asset('img/tom.jpg') }}" alt="tom" class="organigramme__pp ">
                        <span class="organigramme__name">Tom Da Costa</span>
                    </div>
                    </div>
                </div>
                <div class="organigramme__card">
                    <div class="organigramme__card-inner">
                    <div class="organigramme__card-front">
                        <img src="{{ asset('img/RR.png') }}" alt="respo rezo" class="respo">
                        <span class="organigramme__role">Respo Reseau</span>
                    </div>
                    <div class="organigramme__card-back">
                        <img src="{{ asset('img/chloe.jpg') }}" alt="chloe" class="organigramme__pp">
                        <span class="organigramme__name">Chloé Pelet</span>
                    </div>
                    </div>
                </div>
                <div class="organigramme__card">
                    <div class="organigramme__card-inner">
                    <div class="organigramme__card-front">
                        <img src="{{ asset('img/secretaire.png') }}" alt="Vice secrétaire">
                        <span class="organigramme__role">Vice secrétaire</span>
                    </div>
                    <div class="organigramme__card-back">
                        <img src="{{ asset('img/manon.jpg') }}" alt="tom" class="organigramme__pp ">
                        <span class="organigramme__name">Manon Saout-jadé</span>
                    </div>
                    </div>
                </div>

        </div>
    </div>
        
    <div class="middle">   
        <div class="organigramme__goodies">
            
            <div class="range-side">
                <div class="organigramme__card no-respo">
                    <div class="organigramme__card-inner">
                    <div class="organigramme__card-front">
                        <img src="{{ asset('img/goodies.png') }}" alt="team goodies">
                        <span class="organigramme__role">Team goodies</span>
                    </div>
                    <div class="organigramme__card-back">
                        <img src="{{ asset('img/norman.jpg') }}" alt="norman" class="organigramme__pp">
                        <span class="organigramme__name">Norman Maury</span>
                    </div>
                    </div>
                </div>
                <div class="organigramme__card no-respo">
                    <div class="organigramme__card-inner">
                    <div class="organigramme__card-front">
                        <img src="{{ asset('img/goodies.png') }}" alt="team goodies">
                        <span class="organigramme__role">Team goodies</span>
                    </div>
                    <div class="organigramme__card-back">
                        <img src="{{ asset('img/lou.jpg') }}" alt="lou" class="organigramme__pp">
                        <span class="organigramme__name">Lou Lacquement</span>
                    </div>
                    </div>
                </div>
            </div>
            <div class="organigramme__card resp">
                <div class="organigramme__card-inner">
                <div class="organigramme__card-front">
                    <img src="{{ asset('img/goodies.png') }}" alt="respo goodies" class="respo">
                    <span class="organigramme__role">Respo Goodies</span>
                </div>
                <div class="organigramme__card-back">
                    <img src="{{ asset('img/titouan.jpg') }}" alt="titouan" class="organigramme__pp">
                    <span class="organigramme__name">Titouan Huard</span>
                </div>
                </div>
            </div>
        </div>

        <span class="organigramme__liste-name" data-aos="zoom-out" data-aos-delay="50" data-aos-duration="1000">Mafiatech</span>
    
        <div class="organigramme__ddrs">
            <div class="organigramme__card resp">
                <div class="organigramme__card-inner">
                <div class="organigramme__card-front">
                    <img src="{{ asset('img/ddrs-F.png') }}" alt="respo ddrs" class="respo">
                    <span class="organigramme__role">Respo DDRS/Prev</span>
                </div>
                <div class="organigramme__card-back">
                    <img src="{{ asset('img/cecile.jpg') }}" alt="cecile" class="organigramme__pp">
                    <span class="organigramme__name">Cécile Esserméant</span>
                </div>
                </div>
            </div>
            <div class="range-side">
                <div class="organigramme__card no-respo">
                    <div class="organigramme__card-inner">
                    <div class="organigramme__card-front">
                        <img src="{{ asset('img/ddrs-F.png') }}" alt="team ddrs">
                        <span class="organigramme__role">Team DDRS/Prev</span>
                    </div>
                    <div class="organigramme__card-back">
                        <img src="{{ asset('img/julia.jpg') }}" alt="julia" class="organigramme__pp">
                        <span class="organigramme__name">Julia Fezard</span>
                    </div>
                    </div>
                </div>
                <div class="organigramme__card no-respo">
                    <div class="organigramme__card-inner">
                    <div class="organigramme__card-front">
                        <img src="{{ asset('img/ddrs-H.png') }}" alt="team ddrs">
                        <span class="organigramme__role">Team DDRS/Prev</span>
                    </div>
                    <div class="organigramme__card-back">
                        <img src="{{ asset('img/francois.jpg') }}" alt="francois" class="organigramme__pp">
                        <span class="organigramme__name">François Vagneur</span>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <div class="down">
        <div class="organigramme__com range">
            <div class="organigramme__card resp">
                <div class="organigramme__card-inner">
                <div class="organigramme__card-front">
                    <img src="{{ asset('img/com-H.png') }}" alt="respo com" class="respo">
                    <span class="organigramme__role">Respo Com</span>
                </div>
                <div class="organigramme__card-back">
                    <img src="{{ asset('img/martin.jpg') }}" alt="martin" class="organigramme__pp">
                    <span class="organigramme__name">Martin Verrier</span>
                </div>
                </div>
            </div>
            <div class="range-down wrap">
                <div class="organigramme__card no-respo">
                    <div class="organigramme__card-inner">
                    <div class="organigramme__card-front">
                        <img src="{{ asset('img/com-F.png') }}" alt="team com">
                        <span class="organigramme__role">Team Com</span>
                    </div>
                    <div class="organigramme__card-back">
                        <img src="{{ asset('img/clemence.jpg') }}" alt="clemence" class="organigramme__pp">
                        <span class="organigramme__name">Clémence Duchesne</span>
                    </div>
                    </div>
                </div>
                <div class="organigramme__card no-respo">
                    <div class="organigramme__card-inner">
                    <div class="organigramme__card-front">
                        <img src="{{ asset('img/com-F.png') }}" alt="team com">
                        <span class="organigramme__role">Team Com</span>
                    </div>
                    <div class="organigramme__card-back">
                        <img src="{{ asset('img/eve.jpg') }}" alt="eve" class="organigramme__pp">
                        <span class="organigramme__name">Eve Poitevin</span>
                    </div>
                    </div>
                </div>
                <div class="organigramme__card no-respo">
                    <div class="organigramme__card-inner">
                    <div class="organigramme__card-front">
                        <img src="{{ asset('img/com-H.png') }}" alt="team com">
                        <span class="organigramme__role">Team Com</span>
                    </div>
                    <div class="organigramme__card-back">
                        <img src="{{ asset('img/quentin.jpg') }}" alt="quentin" class="organigramme__pp">
                        <span class="organigramme__name">Quentin Diémahave</span>
                    </div>
                    </div>
                </div>
                <div class="organigramme__card no-respo">
                    <div class="organigramme__card-inner">
                    <div class="organigramme__card-front">
                        <img src="{{ asset('img/com-H.png') }}" alt="team com">
                        <span class="organigramme__role">Team Com</span>
                    </div>
                    <div class="organigramme__card-back">
                        <img src="{{ asset('img/corentin.jpg') }}" alt="corentin" class="organigramme__pp">
                        <span class="organigramme__name">Corentin Musard</span>
                    </div>
                    </div>
                </div>
                <div class="organigramme__card no-respo">
                    <div class="organigramme__card-inner">
                    <div class="organigramme__card-front">
                        <img src="{{ asset('img/com-H.png') }}" alt="team com">
                        <span class="organigramme__role">Team Com</span>
                    </div>
                    <div class="organigramme__card-back">
                        <img src="{{ asset('img/baptiste.jpg') }}" alt="baptiste" class="organigramme__pp">
                        <span class="organigramme__name">Baptiste Rozé</span>
                    </div>
                    </div>
                </div>
                <div class="organigramme__card no-respo">
                    <div class="organigramme__card-inner">
                    <div class="organigramme__card-front">
                        <img src="{{ asset('img/com-H.png') }}" alt="team com">
                        <span class="organigramme__role">Team Com</span>
                    </div>
                    <div class="organigramme__card-back">
                        <img src="{{ asset('img/alexis.jpg') }}" alt="alexis" class="organigramme__pp">
                        <span class="organigramme__name">Alexis Joubin</span>
                    </div>
                    </div>
                </div>
                <div class="organigramme__card no-respo">
                    <div class="organigramme__card-inner">
                    <div class="organigramme__card-front">
                        <img src="{{ asset('img/com-H.png') }}" alt="team com">
                        <span class="organigramme__role">Team Com</span>
                    </div>
                    <div class="organigramme__card-back">
                        <img src="{{ asset('img/loulou.jpg') }}" alt="louis" class="organigramme__pp">
                        <span class="organigramme__name">Louis Bonnet-Eymard</span>
                    </div>
                    </div>
                </div>
            </div>
        </div>
 
            <div class="organigramme__part">
                <div class="organigramme__card resp">
                    <div class="organigramme__card-inner">
                    <div class="organigramme__card-front">
                        <img src="{{ asset('img/part-H.png') }}" alt="respo part" class="respo">
                        <span class="organigramme__role">Respo Part</span>
                    </div>
                    <div class="organigramme__card-back">
                        <img src="{{ asset('img/antoine.jpg') }}" alt="antoine" class="organigramme__pp">
                        <span class="organigramme__name">Antoine Nicolaï</span>
                    </div>
                    </div>
                </div>
                <div class="range-down">
                    <div class="organigramme__card no-respo">
                        <div class="organigramme__card-inner">
                        <div class="organigramme__card-front">
                            <img src="{{ asset('img/part-F.png') }}" alt="team part">
                            <span class="organigramme__role">Team Part</span>
                        </div>
                        <div class="organigramme__card-back">
                            <img src="{{ asset('img/laurine.jpg') }}" alt="laurine" class="organigramme__pp">
                            <span class="organigramme__name">Laurine Deschamps</span>
                        </div>
                        </div>
                    </div>
                    <div class="organigramme__card no-respo">
                        <div class="organigramme__card-inner">
                        <div class="organigramme__card-front">
                            <img src="{{ asset('img/part-H.png') }}" alt="team part">
                            <span class="organigramme__role">Team Part</span>
                        </div>
                        <div class="organigramme__card-back">
                            <img src="{{ asset('img/emeric.jpg') }}" alt="emeric" class="organigramme__pp">
                            <span class="organigramme__name">Emeric Breton</span>
                        </div>
                        </div>
                    </div>
                </div>
                

        </div>
        <div class="organigramme__event">
            <div class="organigramme__card resp">
                <div class="organigramme__card-inner">
                <div class="organigramme__card-front">
                    <img src="{{ asset('img/logistique-F.png') }}" alt="respo logistique" class="respo">
                    <span class="organigramme__role">Respo Logistique</span>
                </div>
                <div class="organigramme__card-back">
                    <img src="{{ asset('img/mathilde.jpg') }}" alt="mathilde" class="organigramme__pp">
                    <span class="organigramme__name">Mathilde Hamm</span>
                </div>
                </div>
            </div>
            <div class="range-down wrap event">
                <div class="organigramme__card no-respo">
                    <div class="organigramme__card-inner">
                    <div class="organigramme__card-front">
                        <img src="{{ asset('img/logistique-H.png') }}" alt="team event">
                        <span class="organigramme__role">Team Event</span>
                    </div>
                    <div class="organigramme__card-back">
                        <img src="{{ asset('img/louisb.jpg') }}" alt="louis" class="organigramme__pp">
                        <span class="organigramme__name">Louis Bendler</span>
                    </div>
                    </div>
                </div>
                <div class="organigramme__card no-respo">
                    <div class="organigramme__card-inner">
                    <div class="organigramme__card-front">
                        <img src="{{ asset('img/logistique-H.png') }}" alt="team event">
                        <span class="organigramme__role">Team Event</span>
                    </div>
                    <div class="organigramme__card-back">
                        <img src="{{ asset('img/loris.jpg') }}" alt="loris" class="organigramme__pp">
                        <span class="organigramme__name">Loris Mottino</span>
                    </div>
                    </div>
                </div>
                <div class="organigramme__card no-respo">
                    <div class="organigramme__card-inner">
                    <div class="organigramme__card-front">
                        <img src="{{ asset('img/logistique-F.png') }}" alt="team event">
                        <span class="organigramme__role">Team Event</span>
                    </div>
                    <div class="organigramme__card-back">
                        <img src="{{ asset('img/charlene.jpg') }}" alt="charlene" class="organigramme__pp">
                        <span class="organigramme__name">Charlène Velez</span>
                    </div>
                    </div>
                </div>
                <div class="organigramme__card no-respo">
                    <div class="organigramme__card-inner">
                    <div class="organigramme__card-front">
                        <img src="{{ asset('img/logistique-H.png') }}" alt="team event">
                        <span class="organigramme__role">Team Event</span>
                    </div>
                    <div class="organigramme__card-back">
                        <img src="{{ asset('img/louisd.jpg') }}" alt="louis" class="organigramme__pp">
                        <span class="organigramme__name">Louis Darnaud</span>
                    </div>
                    </div>
                </div>
                <div class="organigramme__card no-respo">
                    <div class="organigramme__card-inner">
                    <div class="organigramme__card-front">
                        <img src="{{ asset('img/logistique-H.png') }}" alt="team event">
                        <span class="organigramme__role">Team Event</span>
                    </div>
                    <div class="organigramme__card-back">
                        <img src="{{ asset('img/martins.jpg') }}" alt="martin" class="organigramme__pp">
                        <span class="organigramme__name">Martin Sergeant</span>
                    </div>
                    </div>
                </div>
                <div class="organigramme__card no-respo">
                    <div class="organigramme__card-inner">
                    <div class="organigramme__card-front">
                        <img src="{{ asset('img/logistique-H.png') }}" alt="team event">
                        <span class="organigramme__role">Team Event</span>
                    </div>
                    <div class="organigramme__card-back">
                        <img src="{{ asset('img/taillot.jpg') }}" alt="thomas" class="organigramme__pp">
                        <span class="organigramme__name">Thomas Taillot</span>
                    </div>
                    </div>
                </div>
                <div class="organigramme__card no-respo">
                    <div class="organigramme__card-inner">
                    <div class="organigramme__card-front">
                        <img src="{{ asset('img/logistique-H.png') }}" alt="team event">
                        <span class="organigramme__role">Team Event</span>
                    </div>
                    <div class="organigramme__card-back">
                        <img src="{{ asset('img/hugo.jpg') }}" alt="hugo" class="organigramme__pp">
                        <span class="organigramme__name">Hugo Perret</span>
                    </div>
                    </div>
                </div>
                <div class="organigramme__card no-respo">
                    <div class="organigramme__card-inner">
                    <div class="organigramme__card-front">
                        <img src="{{ asset('img/logistique-H.png') }}" alt="team event">
                        <span class="organigramme__role">Team Event</span>
                    </div>
                    <div class="organigramme__card-back">
                        <img src="{{ asset('img/raph.jpg') }}" alt="raph" class="organigramme__pp">
                        <span class="organigramme__name">Raphaël de Badereau</span>
                    </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>
{% endblock %}
