{% extends 'base.html.twig' %}

{% block title %}Parts | {% endblock %}

{% block body %}
<section class="parts">
    <h2 class="parts__title">Nos partenaires</h2>
    <div class="parts__container">
        <div class="parts__box">
            <img src="{{ asset('img/amble-wine.jpg') }}" alt="ange" class="parts__img">
            <span class="parts__name">Amble Wine</span>
            <p class="parts__offer">A éclaircir</p>
            <span class="parts__question">Où les trouver ?</span>
            <p class="parts__address">06 64 44 00 19</p>
            <a href="https://www.amblewine.com/" class="parts__website">Voir le site</a>
        </div>
        <div class="parts__box">
            <img src="{{ asset('img/ange.png') }}" alt="ange" class="parts__img">
            <span class="parts__name">Ange</span>
            <p class="parts__offer">-20% pour les petits déjeuners</p>
            <span class="parts__question">Où les trouver ?</span>
            <p class="parts__address">76 Avenue Gabriel Péri <br> 38400 Saint-Martin-d'Hères</p>
            <a href="https://www.boulangerie-ange.fr/" class="parts__website">Voir le site</a>
        </div>
        <div class="parts__box">
            <img src="{{ asset('img/craquant-automne.png') }}" alt="ange" class="parts__img">
            <span class="parts__name">Au craquant d'automne</span>
            <p class="parts__offer">-10% sur tout</p>
            <span class="parts__question">Où les trouver ?</span>
            <p class="parts__address">3 Place du 24 Avril 1915 <br> 38400 Saint-Martin-d'Hères</p>
            <a href="https://aucraquant.fr/" class="parts__website">Voir le site</a>
        </div>
        <div class="parts__box">
            <img src="{{ asset('img/bam-freesport.png') }}" alt="ange" class="parts__img">
            <span class="parts__name">Bam Freesport</span>
            <p class="parts__offer">6 places gratuites</p>
            <span class="parts__question">Où les trouver ?</span>
            <p class="parts__address">9 Rue Evariste Galois <br> 38320 Eybens</p>
            <a href="http://bam-freesports.com/" class="parts__website">Voir le site</a>
        </div>
        <div class="parts__box">
            <img src="{{ asset('img/en-cas-de-faim.png') }}" alt="ange" class="parts__img">
            <span class="parts__name">En cas de faim</span>
            <p class="parts__offer">1 boisson offerte</p>
            <span class="parts__question">Où les trouver ?</span>
            <p class="parts__address">25 Avenue Jeanne d'Arc <br> 38000 Grenoble</p>
            <a href="https://www.facebook.com/emblemgrenoble/posts/1888107894621554/" class="parts__website">Voir le site</a>
        </div>
        <div class="parts__box">
            <img src="{{ asset('img/essuie-fraise.webp') }}" alt="ange" class="parts__img">
            <span class="parts__name">Essuie fraise</span>
            <p class="parts__offer">300 lingettes offertes</p>
            <a href="https://essuie-fraise.com/" class="parts__website">Voir le site</a>
        </div>
        <div class="parts__box">
            <img src="{{ asset('img/jardin-du-the.jpg') }}" alt="ange" class="parts__img">
            <span class="parts__name">Jardin du thé</span>
            <p class="parts__offer">30€ offert + 15 sachets de thé</p>
            <span class="parts__question">Où les trouver ?</span>
            <p class="parts__address">2 Rue Millet <br> 38000 Grenoble</p>
            <a href="https://jardin-du-the.com/" class="parts__website">Voir le site</a>
        </div>
        <div class="parts__box">
            <img src="{{ asset('img/atlas.jpg') }}" alt="ange" class="parts__img">
            <span class="parts__name">Kebab Atlas</span>
            <p class="parts__offer">-1€ sur les menus + 2 menus à offrir</p>
            <span class="parts__question">Où les trouver ?</span>
            <p class="parts__address">158 Avenue Ambroise Croizat <br> 38400 Saint-Martin-d'Hères</p>
            <a href="https://www.facebook.com/ATLAS-327455550707896/" class="parts__website">Voir le site</a>
        </div>
        <div class="parts__box">
            <img src="{{ asset('img/little-warung.png') }}" alt="ange" class="parts__img">
            <span class="parts__name">Little Warung</span>
            <p class="parts__offer">-30% sur tout</p>
            <span class="parts__question">Où les trouver ?</span>
            <p class="parts__address">16 Place Notre Dame <br> 38000 Grenoble</p>
            <a href="https://www.mylittlewarung.com/" class="parts__website">Voir le site</a>
        </div>
        <div class="parts__box">
            <img src="{{ asset('img/passage-du-desir.webp') }}" alt="ange" class="parts__img">
            <span class="parts__name">Passage du désir</span>
            <p class="parts__offer">-12% sur tout</p>
            <span class="parts__question">Où les trouver ?</span>
            <p class="parts__address">1er étage La Joliette
                <br>Terrasses du Port
                <br>Boulevard du Littoral
                <br>13002 Marseille</p>
            <a href="https://www.passagedudesir.fr/" class="parts__website">Voir le site</a>
        </div>
        <div class="parts__box">
            <img src="{{ asset('img/pizzali.jpg') }}" alt="ange" class="parts__img">
            <span class="parts__name">Pizzali</span>
            <p class="parts__offer">1 pizza achetée = 1 boisson offerte</p>
            <span class="parts__question">Où les trouver ?</span>
            <p class="parts__address">36 Avenue Ambroise Croizat <br> 38400 Saint-Martin-d'Hères</p>
            <a href="https://pizzali38.business.site/" class="parts__website">Voir le site</a>
        </div>
        <div class="parts__box">
            <img src="{{ asset('img/redbull.png') }}" alt="ange" class="parts__img">
            <span class="parts__name">Redbull</span>
            <p class="parts__offer">100 cannettes offertes</p>
            <span class="parts__question">Où les trouver ?</span>
            <p class="parts__address">29 Rue Cardinet <br> 75017 Paris</p>
            <a href="https://www.redbull.com/fr-fr/" class="parts__website">Voir le site</a>
        </div>
        <div class="parts__box">
            <img src="{{ asset('img/sabon.jpg') }}" alt="ange" class="parts__img">
            <span class="parts__name">Sabon</span>
            <p class="parts__offer">-10% sur tout</p>
            <span class="parts__question">Où les trouver ?</span>
            <p class="parts__address">3 Rue de Sault <br> 38000 Grenoble</p>
            <a href="https://www.sabon.fr/" class="parts__website">Voir le site</a>
        </div>
        <div class="parts__box">
            <img src="{{ asset('img/the-cake-shop.png') }}" alt="ange" class="parts__img">
            <span class="parts__name">The cake shop</span>
            <p class="parts__offer">20% sur tout + 1 lot de cuisine + 1 bon pour 10 cupcake</p>
            <span class="parts__question">Où les trouver ?</span>
            <p class="parts__address">9 Rue de Sault <br> 38000 Grenoble</p>
            <a href="https://boutique.thecakeshop.fr/password" class="parts__website">Voir le site</a>
        </div>
    </div>
</section>
{% endblock %}
