{% extends 'base.html.twig' %}

{% block title %}Parts | {% endblock %}

{% block body %}
<section class="parts">
    <h2 class="parts__title">Nos partenaires</h2>
    <div class="parts__container">
        <div class="parts__box">
            <img src="{{ asset('img/amble-wine.jpg') }}" alt="amble wine" class="parts__img">
            <span class="parts__name">Amble Wine</span>
            <p class="parts__offer">3 mois offerts + offre 10% avec le code MAFIATECH10</p>
            <span class="parts__question">Où les trouver ?</span>
            <p class="parts__address">06 64 44 00 19</p>
            <a href="https://www.amblewine.com/" class="parts__website">Voir le site</a>
        </div>
        <div class="parts__box">
            <img src="{{ asset('img/bam-freesport.png') }}" alt="bam freesport" class="parts__img">
            <span class="parts__name">Bam Freesport</span>
            <p class="parts__offer">6 places gratuites</p>
            <span class="parts__question">Où les trouver ?</span>
            <p class="parts__address">9 Rue Evariste Galois <br> 38320 Eybens</p>
            <a href="http://bam-freesports.com/" class="parts__website">Voir le site</a>
        </div>
        <div class="parts__box">
            <img src="{{ asset('img/blooming.png') }}" alt="blooming rocks" class="parts__img">
            <span class="parts__name">Blooming Rocks</span>
            <p class="parts__offer">2 culottes menstruelles offertes et 20 % de réduction avec le code MAFIATECH20</p>
            <a href="https://blooming.rocks/collections/blooming-culottes-menstruelles?gclid=Cj0KCQiA7YyCBhD_ARIsALkj54o6TjK-7eoWfXxNZYdkqwVYAQH1tceJAKN2bZtY8a7S2V8ST8VXH-IaAk3JEALw_wcB" class="parts__website">Voir le site</a>
        </div>
        <div class="parts__box">
            <img src="{{ asset('img/essuie-fraise.webp') }}" alt="essuie-fraise" class="parts__img">
            <span class="parts__name">Essuie fraise</span>
            <p class="parts__offer">300 lingettes offertes</p>
            <a href="https://essuie-fraise.com/" class="parts__website">Voir le site</a>
        </div>
        <div class="parts__box">
            <img src="{{ asset('img/jardin-du-the.jpg') }}" alt="jardin-du-the" class="parts__img">
            <span class="parts__name">Jardin du thé</span>
            <p class="parts__offer">1 lot dégustation de thé et 15 sachets rechargables de thé</p>
            <span class="parts__question">Où les trouver ?</span>
            <p class="parts__address">2 Rue Millet <br> 38000 Grenoble</p>
            <a href="https://jardin-du-the.com/" class="parts__website">Voir le site</a>
        </div>
        <div class="parts__box">
            <img src="{{ asset('img/atlas.jpg') }}" alt="atlas" class="parts__img">
            <span class="parts__name">Kebab Atlas</span>
            <p class="parts__offer">-1€ sur les menus + 2 menus à offrir</p>
            <span class="parts__question">Où les trouver ?</span>
            <p class="parts__address">158 Avenue Ambroise Croizat <br> 38400 Saint-Martin-d'Hères</p>
            <a href="https://www.facebook.com/ATLAS-327455550707896/" class="parts__website">Voir le site</a>
        </div>
        <div class="parts__box">
            <img src="{{ asset('img/le-club-periode.png') }}" alt="le-club-periode" class="parts__img">
            <span class="parts__name">Le Club Période</span>
            <p class="parts__offer">20% de réduction avec le code MAFIATECH20</p>
            <span class="parts__question">Où les trouver ?</span>
            <p class="parts__address">6384 rue Obsidienne <br> 13510 Eguilles</p>
            <a href="https://leclubperiodes.com/" class="parts__website">Voir le site</a>
        </div>
        <div class="parts__box">
            <img src="{{ asset('img/naturavelo.png') }}" alt="naturavelo" class="parts__img">
            <span class="parts__name">Naturavelo</span>
            <p class="parts__offer">10% sur les vélos et accessoires et 15% sur les locations</p>
            <span class="parts__question">Où les trouver ?</span>
            <p class="parts__address">7 Boulevard Clemenceau <br> 38000 Grenoble</p>
            <a href="https://naturavelo.com/" class="parts__website">Voir le site</a>
        </div>
        <div class="parts__box">
            <img src="{{ asset('img/passage-du-desir.webp') }}" alt="passagedudesir" class="parts__img">
            <span class="parts__name">Passage du désir</span>
            <p class="parts__offer">-12% sur tout avec code MAFIATECH12</p>
            <span class="parts__question">Où les trouver ?</span>
            <p class="parts__address">1er étage La Joliette
                <br>Terrasses du Port
                <br>Boulevard du Littoral
                <br>13002 Marseille</p>
            <a href="https://www.passagedudesir.fr/" class="parts__website">Voir le site</a>
        </div>
        <div class="parts__box">
            <img src="{{ asset('img/pizza-serge.png') }}" alt="pizza-serge" class="parts__img">
            <span class="parts__name">Pizza Serge</span>
            <p class="parts__offer">-10% de réduction</p>
            <span class="parts__question">Où les trouver ?</span>
            <p class="parts__address">47 Boulevard Clemenceau
                <br>38100 Grenoble
                </p>
            <a href="http://sergepizzas.com/carte.html" class="parts__website">Voir le site</a>
        </div>
        <div class="parts__box">
            <img src="{{ asset('img/plnts.png') }}" alt="plnts" class="parts__img">
            <span class="parts__name">Plnts.com</span>
            <p class="parts__offer">-10% de réduction avec le code polytechgrenoble10</p>
            <a href="https://plnts.com/" class="parts__website">Voir le site</a>
        </div>
        <div class="parts__box">
            <img src="{{ asset('img/redbull.png') }}" alt="redbull" class="parts__img">
            <span class="parts__name">Redbull</span>
            <p class="parts__offer">100 cannettes offertes</p>
            <span class="parts__question">Où les trouver ?</span>
            <p class="parts__address">29 Rue Cardinet <br> 75017 Paris</p>
            <a href="https://www.redbull.com/fr-fr/" class="parts__website">Voir le site</a>
        </div>
        <div class="parts__box">
            <img src="{{ asset('img/sabon.jpg') }}" alt="sabon" class="parts__img">
            <span class="parts__name">Sabon</span>
            <p class="parts__offer">-10% sur l'ensemble du magasin</p>
            <span class="parts__question">Où les trouver ?</span>
            <p class="parts__address">3 Rue de Sault <br> 38100 Grenoble</p>
            <a href="https://www.sabon.fr/" class="parts__website">Voir le site</a>
        </div>
        <div class="parts__box">
            <img src="{{ asset('img/tacos-campus.jpg') }}" alt="tacos-campus" class="parts__img">
            <span class="parts__name">Tacos du campus</span>
            <p class="parts__offer">-10% de réduction</p>
            <span class="parts__question">Où les trouver ?</span>
            <p class="parts__address">17 Avenue Gabriel Péri <br> 38400 Saint-Martin-d'Hères</p>
            <a href="https://www.facebook.com/Tacos-Du-Campus-103242037789603/" class="parts__website">Voir le site</a>
        </div>
        <div class="parts__box">
            <img src="{{ asset('img/the-cake-shop.png') }}" alt="the-cake-shop" class="parts__img">
            <span class="parts__name">The cake shop</span>
            <p class="parts__offer">20% sur tout + 1 lot de cuisine + 1 bon pour 10 cupcake</p>
            <span class="parts__question">Où les trouver ?</span>
            <p class="parts__address">9 Rue de Sault <br> 38100 Grenoble</p>
            <a href="https://boutique.thecakeshop.fr/" class="parts__website">Voir le site</a>
        </div>
        <div class="parts__box">
            <img src="{{ asset('img/ornikar.png') }}" alt="ornikar" class="parts__img">
            <span class="parts__name">Ornikar</span>
            <p class="parts__offer">Code de la route 25€ et permis complet (conduite + code) 719€ en utilisant le code MAFIATECH</p>
            <a href="https://www.ornikar.com/" class="parts__website">Voir le site</a>
        </div>
        <div class="parts__box">
            <img src="{{ asset('img/lydia.png') }}" alt="lydia" class="parts__img">
            <span class="parts__name">Lydia</span>
            <p class="parts__offer">Compte Lydia bleu gratuit</p>
            <a href="https://lydia-app.com/" class="parts__website">Voir le site</a>
        </div>
        <div class="parts__box">
            <img src="{{ asset('img/fnac.jpg') }}" alt="fnac" class="parts__img">
            <span class="parts__name">Fnac</span>
            <p class="parts__offer">Merci pour les 40 lots à offrir</p>
            <span class="parts__question">Où les trouver ?</span>
            <p class="parts__address">4 rue Félix-Poulat<br> 38000 Grenoble</p>
            <a href="https://www.fnac.com" class="parts__website">Voir le site</a>
        </div>
        <div class="parts__box">
            <img src="{{ asset('img/picture.jpg') }}" alt="picture" class="parts__img">
            <span class="parts__name">Picture Organic Clothing</span>
            <p class="parts__offer">2 t-shirts offerts</p>
            <span class="parts__question">Où les trouver ?</span>
            <p class="parts__address">11 rue Jean-Jacques Rousseau<br> 38000 Grenoble</p>
            <a href="https://www.picture-organic-clothing.com/" class="parts__website">Voir le site</a>
        </div>
    </div>
</section>
{% endblock %}
